bigger.txt
bigs2.txt
bin/
massive
0.dat
mil-500kgets
generator/generator
.DS_Store
out.txt
mil1
mil2
bin/client
kelk-back
get.txt
kelk
order-mil.txt
test.txt
5mil
data*/
bin/
data-lazy-500mil/
data-tiered-1bil/
*.dat
single
500
10mil.txt
workeval
evaluate.py.zip
evaluate.py
kelk2
mil
serv_res.txt
small
notsmall
eval_res.txt
range
range.txt
range2
upperupper.txt
lowerlower.txt
even
get2
get1
get3
getall
ranges1
ranges2
range3
5mil1g
workload-10MPuts-1MGets-HighMisses-skewed.txt
get-workload
.DS_Store
huge-load.txt
huge.txt
ups
yikes.txt
test
test
1milgets
2milgets
3milgets
4milgets
5milgets
5milgets-skew
bin/client
bin/server
1milgets-skew
2milgets-skew
3milgets-skew
4milgets-skew
milgets9
milgets8
milgets7
milgets6
milgets5
milgets4
milgets3
milgets2
milgets10
milgets1
5milsync
10milgets
.DS_Store
10milsync
1milsync
2milsync
3milsync
4milsync
6milsync
7milsync
8milsync
9milsync
bin/client
bin/server
oops
r1
r2
r3
r4
r5
rangy
rangy5
shuffled
workload-10MPuts-1MGets-skewed.bin
