bigger.txt
bigs2.txt
bin/
massive
0.dat
mil-500kgets
generator/generator
.DS_Store
out.txt
mil1
mil2
bin/client
kelk-back
get.txt
kelk
order-mil.txt
test.txt
5mil
data/
data-lazy-500mil/
data-tiered-1bil/
*.dat
single
500
10mil.txt
workeval
evaluate.py.zip
evaluate.py
kelk2
mil
serv_res.txt
small
notsmall
eval_res.txt
range
range.txt
range2
