bigger.txt
bigs2.txt
bin/
massive
0.dat
mil-500kgets
generator/generator
.DS_Store
out.txt
mil1
mil2
bin/client
kelk-back
get.txt
kelk
order-mil.txt
test.txt
5mil
data/
data-lazy-500mil/
*.dat
single
500